<div *ngIf="showModal" bsModal #imgUpload="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{ backdrop: 'static', keyboard: true, ignoreBackdropClick: true }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<span class="icon icon-cross close" (click)="closePopup()"></span>-->
        <h5 class="modal-title pull-left">Image Upload</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-hidden">
        <div class="pt-2 pb-3 px-2">
          <input #myFileInput type="file" (change)="getImage()" accept="image/*" capture="camera" />Upload
          <br>
          <h3>OR</h3>
          <br>
          <ngx-img (onSelect)="selectImg($event)" (onReset)="removePreview()" [config]="options"></ngx-img>
          <!-- <p *ngIf="showModal">Cropped Size: {{croppedSize}} KB</p> -->
          <div class="text-xs-center mt-2 mb-1" *ngIf="hasPreview">
            <button class="btn btn-sm btn-primary z-depth-0" [ladda]="isUploading" (click)="upload()">Upload</button>
          </div>
        </div>
        <div *ngIf="displaySizeInfo.enabled" class="col-xs text-xs-center">
          <p>*Allowed image formats: jpeg|png|gif &nbsp;(Max-size: {{displaySizeInfo.size}} KB)</p>
        </div>
      </div>
    </div>
  </div>
</div>
